<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="skin-orange">


<header class="primary" >
    <div th:replace="fragments/header :: firstbar"></div>
    <nav th:replace="fragments/header :: nav"></nav>
</header>
<!-- /HEADER -->

<section class="page">
    <div class="container">
        <div class="row">
            <div class="callout">
                <div class="box-body">
                    <h1 class="mb-4" th:if="${edit}">Edit user</h1>
                    <h1 class="mb-4" th:if="${create}">Create user</h1>

                    <form th:object="${user}" method="post" th:action="@{/users/update_user}">
                        <div class="row">
                            <form th:object="${user}" method="post" th:action="@{/user/update}">
                                <div class="col-sm-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <input th:type="hidden" th:field="*{id}">
                                            <div class="form-group">
                                                <label for="username">User name</label>
                                                <input th:field="*{username}" type="text" class="form-control" id="username" placeholder="Enter user name" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="fw" for="password">Password</label>
                                                <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Password" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input th:field="*{email}" type="text" class="form-control" id="email" placeholder="Enter user email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="firstname">First name</label>
                                                <input th:field="*{firstName}" type="text" class="form-control" id="firstname" placeholder="Enter user first name">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname">Last name</label>
                                                <input th:field="*{lastName}" type="text" class="form-control" id="lastname" placeholder="Enter user last name">
                                            </div>
                                            <div class="form-group" >
                                                <label for="roles">User roles</label>
                                                <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                                                    <option th:each="role : ${roles}"
                                                            th:text="${role.name}"
                                                            th:value="${role.id}"
                                                            th:selected="${user.roles.contains(role)}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="card-footer bg-white">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="id" id="id" th:value="null" required th:type="hidden">
                                    <div class="card-footer bg-white">
                                        <a th:href="@{/editor_article}">
                                            <button type="submit" class="btn btn-primary" >Write article</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{/single/articles/editor_article}"  method="get">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select class="form-control" name="id"  >
                                                <option name="id" value="article.id" th:value="${article.id}"
                                                        th:each="article, state : ${@articleService.findAllArticles()}">
                                                    <a th:text="${article.title}" >Article</a>
                                            </select>
                                            <div class="card-footer bg-white">
                                                <button type="submit" class="btn btn-primary">Edit article</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-white">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">

        </div>

    </div>
    </div>
    </div>
</section>


<!-- FOOTER -->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- /FOOTER -->

<!-- JS -->
<script th:remove="tag" th:replace="fragments/scripts :: scripts"> </script>
</body>

