<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"></head>

<body class="skin-orange">
<!-- HEADER -->
<header class="primary" >
	<div th:replace="fragments/header.html :: firstbar"></div>
	<nav th:replace="fragments/header.html :: nav"></nav>
</header>
<!-- /HEADER -->

		<section class="not-found">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="code">
							503
						</div>
						<h1>Service Unavailable</h1>
						<p class="lead">we're doing maintenance, come back later.</p>
						<div class="search-form">							
							<form>
								<div class="form-group">
									<div class="input-group">
										<input type="text" name="q" class="form-control" placeholder="Type something ...">
										<div class="input-group-btn">
											<button type="submit" class="btn btn-primary">Search</button>
										</div>
									</div>
								</div>
							</form>								
							<div class="link">
								or <a href="../index.html" th:href="@{/}">back to home</a>.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- FOOTER -->
	<footer th:replace="fragments/footer.html :: footer"></footer>
	<!-- /FOOTER -->

	<!-- JS -->
	<script th:remove="tag" th:replace="fragments/scripts.html :: scripts"> </script>

	</body>
</html>