<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"></head>

<body class="skin-orange">
<!-- HEADER -->
<header class="primary" >
	<div th:replace="fragments/header.html :: firstbar"></div>
	<nav th:replace="fragments/header.html :: nav"></nav>
</header>
<!-- /HEADER -->

		<section class="category">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-8 text-left">
		        <div class="row">
		          <div class="col-md-12"  >
					  <div class="form-row">
						  <div class="form-group col-sm-6">
							  <ol class="breadcrumb">
								  <li><a href="../index.html" th:href="@{/}">Home</a></li>
								  <li class="active" th:text="${category}==null? 'All category' : ${category.name}" >Computer</li>
							  </ol>
							  <h1 class="page-title">
								  <span th:text="${category}==null? 'All category' : 'Category: ' + ${category.name}">Computer</span> </h1>
							  <p class="page-subtitle">Showing all posts with <i>
								  <span th:text="${category}==null? 'all category' : 'category ' + ${category.name}">Computer</span></i></p>
						  </div>
						  <div class="form-group col-sm-6">
							  <br>
							  <form th:action="@{/category}" method="get">
								  <input class="form-control" value="cat_id" type="text"  th:type="hidden"
										 th:value="${param.cat_id}" th:name="cat_id">

								  <div class="form-group">
									  <div class="input-group">
										  <select class="form-control" name="limit"  >
											  <option th:value="0" value="0" th:selected="${pageLimit==0}">
												  <a th:text="Limit" >Limit</a>
											  <option th:each="i : ${#numbers.sequence(1, 10, 3)}" th:value="${i}" th:text="${i}"
													  th:selected="${i==pageLimit}"></option>
										  </select>
										  <div class="input-group-btn">
											  <button class="btn btn-primary more" type="submit">
												  <i class="ion-ios-arrow-thin-right"></i>
											  </button>
										  </div>
									  </div>
								  </div>
							  </form>
						  </div>
					  </div>
		          </div>

		        </div>
		        <div class="line"></div>
		        <div class="row">
<!--					<div th:replace="fragments/news :: category_news"></div>-->
					<article class="col-md-12 article-list" th:each="article,state : ${page.content}" >
						<div th:if="${category}==null">
							<div class="inner">
								<figure>
									<a href="../ui/single.html" th:href="@{/single/articles/{id}(id=${article.id})}">
										<!--                        <img src="../images/news/img01.jpg" th:src="@{images/news/img01.jpg}">-->
										<p th:remove="tag" th:utext="${article.getMainPictureUrl()}">Main Picture</p>
									</a>
								</figure>
								<div class="details">
									<div class="detail">
										<div class="category">
											<a href="../ui/category.html"
											   th:href="@{'/category?cat_id=' + ${article.category.id} + ${filtersDef}}"
											   th:utext="${article.category.name}">Film</a>
										</div>
<!--										<div class="time" th:utext="${article.created}">December 26, 2016</div>-->
										<div class="time" th:utext="${#temporals.format(article.created, 'dd MMM HH:mm')}">December 26, 2016</div>
									</div>
									<h1><a href="../ui/single.html" th:href="@{/single/articles/{id}(id=${article.id})}"
										   th:utext="${article.title}">Lorem Ipsum Dolor Sit Consectetur Adipisicing Elit</a></h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitat...
									</p>
									<footer>
										<!--										<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>237</div></a>-->
										<div>
											<i class="love_news fa fa-thumbs-up"
											   th:text="${@articleLikeService.getArticleLikes(article.id)}">2333</i>
											<i class="love_news fa fa-thumbs-down"
											   th:text="${@articleLikeService.getArticleDislikes(article.id)}">213</i>
										<a class="btn btn-primary more" href="../ui/single.html"
										   th:href="@{/single/articles/{id}(id=${article.id})}">
											<div>More</div>
											<div><i class="ion-ios-arrow-thin-right"></i></div>
										</a>
										</div>
									</footer>
								</div>
							</div>
						</div>

						<div th:unless="${category}==null">
							<div class="inner" th:if="${article.category.id}==${category.id}">
								<figure>
									<a href="../ui/single.html" th:href="@{/single/articles/{id}(id=${category.id})}">
										<!--                        <img src="../images/news/img01.jpg" th:src="@{images/news/img01.jpg}">-->
										<p th:remove="tag" th:utext="${article.getMainPictureUrl()}">Main Picture</p>
									</a>
								</figure>
								<div class="details">
									<div class="detail">
										<div class="category">
											<a href="../ui/category.html" th:href="@{'/category?' + ${filtersDef}}"
											   th:utext="${article.category.name}">Film</a>
										</div>
<!--										<div class="time" th:utext="${article.created}">December 26, 2016</div>-->
										<div class="time" th:utext="${#temporals.format(article.created, 'dd MMM HH:mm')}">December 26, 2016</div>
									</div>
									<h1><a href="../ui/single.html" th:href="@{/single/articles/{id}(id=${category.id})}"
										   th:utext="${article.title}">Lorem Ipsum Dolor Sit Consectetur Adipisicing Elit</a></h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitat...
									</p>
									<footer>
										<!--										<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>237</div></a>-->
										<div>
											<i class="love_news fa fa-thumbs-up"
											   th:text="${@articleLikeService.getArticleLikes(article.id)}">2333</i>
											<i class="love_news fa fa-thumbs-down"
											   th:text="${@articleLikeService.getArticleDislikes(article.id)}">213</i>
										<a class="btn btn-primary more" href="../ui/single.html" th:href="@{/single/articles/{id}(id=${category.id})}">
											<div>More</div>
											<div><i class="ion-ios-arrow-thin-right"></i></div>
										</a>
										</div>
									</footer>
								</div>
							</div>
						</div>
					</article>

					<nav aria-label="Page navigation" th:if="${page.content.size()>0}">
						<ul class="pagination">
							<li class="page-item " th:classappend="${!(page.getNumber() > 0) ? 'disabled' : ''}" >

								<a class="page-link"
								   th:href="@{'/category?pageNumber=' + ${page.previousOrFirstPageable().getPageNumber() + 1} + ${filtersDef}}">
									<i class="ion-ios-arrow-left"></i></a>
							</li>

							<li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
								th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
								<a class="page-link" th:text="${i}" th:href="@{'/category?pageNumber=' + ${i} + ${filtersDef}}"></a>
							</li>

							<li class="page-item" th:classappend="${!(page.getNumber() < page.getTotalPages() - 1) ? 'disabled' : ''}" >
								<a class="page-link"
								   th:href="@{'/category?pageNumber=' + ${page.nextOrLastPageable().getPageNumber() + 1} + ${filtersDef}}">
									<i class="ion-ios-arrow-right"></i></a>
							</li>
						</ul>
					</nav>
					<div th:if="${page.content.size()==0}">
						<h3 class="page-title">
							<span th:text="'Pages not found'">Computer</span> </h3>
					</div>

		        </div>
		      </div>
		      <div class="col-md-4 sidebar">
		        <aside>
		          <div class="aside-body">
		            <figure class="ads">
			            <a href="../ui/single.html" th:href="@{/single}">
			              <img src="../images/ad.png" th:src="@{/images/ad.png}">
			            </a>
		              <figcaption>Advertisement</figcaption>
		            </figure>
		          </div>
		        </aside>
		        <aside>
		          <h1 class="aside-title">Recent Post</h1>
		          <div class="aside-body">
					  <div th:replace="fragments/news :: resent_post"></div>

		            <div class="line"></div>
					  <div class="body-col vertical-slider" data-max="3" data-nav="#hot-resent-post" data-item="article">
						  <div th:replace="fragments/news :: article_mini_three"></div>
					  </div>

		          </div>
		        </aside>
		        <aside>
		          <div class="aside-body">
		            <form class="newsletter">
		              <div class="icon">
		                <i class="ion-ios-email-outline"></i>
		                <h1>Newsletter</h1>
		              </div>
		              <div class="input-group">
		                <input type="email" class="form-control email" placeholder="Your mail">
		                <div class="input-group-btn">
		                  <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
		                </div>
		              </div>
		              <p>By subscribing you will receive new articles in your email.</p>
		            </form>
		          </div>
		        </aside>
		      </div>
		    </div>
		  </div>
		</section>

	<!-- FOOTER -->
	<footer th:replace="fragments/footer.html :: footer"></footer>
	<!-- /FOOTER -->
	<!-- JS -->
	<script th:remove="tag" th:replace="fragments/scripts.html :: scripts"> </script>

	<!--для отображения шрифтов для лайков и дизлайков-->
	<script src="https://use.fontawesome.com/2010e27091.js"></script>
	</body>
</html>