<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header.html :: head"></head>

<body class="skin-orange">

<header class="primary" >
    <div th:replace="fragments/header.html :: firstbar"></div>
    <nav th:replace="fragments/header.html :: nav"></nav>
</header>

<section class="login first grey" id="editbox">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="box-wrapper">
                    <div class="content p-5" >
                        <h2 class="mb-4" th:if="${change_password}" >Change password</h2>

                        <form th:object="${user}" method="post" th:action="@{/user/change_password}">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <input th:type="hidden" th:field="*{id}" th:hidden="false">
                                    <div class="form-group" th:hidden="false">
                                        <label for="username">User name</label>
                                        <input th:field="*{username}" type="text" class="form-control" id="username" placeholder="Enter user name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input th:field="*{password_old}" type="password" class="form-control" id="password" placeholder="Password" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="fw" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password</label>
                                        <input type="password" class="form-control" name="password"
                                               placeholder="password (*)" th:field="*{password}">
                                        <!--									th:value= "${systemUser?.password}"-->
                                    </div>
                                    <div class="form-group">
                                        <label class="fw" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">Repeat password</label>
                                        <input type="password" class="form-control" name="matchingPassword"
                                               placeholder="confirm password (*)" th:field="*{matchingPassword}">
                                        <!--th:value= "${systemUser?.matchingPassword}"-->
                                    </div>
                                    <div class="form-group" th:hidden="false">
                                        <label for="email">Email</label>
                                        <input th:field="*{email}" type="text" class="form-control" id="email" placeholder="Enter user email" required>
                                    </div>
                                    <div class="form-group" th:hidden="false">
                                        <label for="firstname">First name</label>
                                        <input th:field="*{firstName}" type="text" class="form-control" id="firstname" placeholder="Enter user first name">
                                    </div>
                                    <div class="form-group" th:hidden="false">
                                        <label for="lastname">Last name</label>
                                        <input th:field="*{lastName}" type="text" class="form-control" id="lastname" placeholder="Enter user last name">
                                    </div>
                                    <div class="form-group" th:hidden="false">
                                        <label for="roles">User roles</label>
                                        <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                                            <option th:each="role : ${roles}"
                                                    th:text="${role.name}"
                                                    th:value="${role.id}"
                                                    th:selected="${user.roles.contains(role)}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-footer bg-white">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>
        </div>

    </div>
</section>

<!-- FOOTER -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- /FOOTER -->

<!-- JS -->
<script th:replace="fragments/footer.html :: scripts"></script>
</body>

</body>
</html>