<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      sec:authorize="isAuthenticated()">

<head th:replace="fragments/header :: head">

</head>

<body class="skin-orange">

<header class="primary" >
    <div th:replace="fragments/header :: firstbar"></div>
    <nav th:replace="fragments/header :: nav"></nav>
</header>

<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ol class="breadcrumb">
                    <li><a href="index.html" th:href="@{/}">Home</a></li>
                    <li class="active">Create article</li>
                </ol>
                <h1 class="page-title" th:text="${create!=false? 'Create article':'Edit article'}">Create article</h1>
                <p class="page-subtitle">You can create your own article in the editor</p>
                <div class="line thin"></div>
                <div class="page-description">
                    <h1 class="page-title" th:text="${create!=false? 'Create article':'Edit article'}">Create article</h1>
                    <form class="row contact" id="create_article" method="post"
                          th:action="@{/single/articles/editor_article}" th:object="${article}">
                    <div class="form-row">
                        <div class="form-group col-sm-8">
                            <label for="article_title">Article title</label>
                            <input class="form-control" id="article_title" placeholder="Enter article tittle" type="text" autocomplete="off"
                                   th:field="*{title}" required="">
                        </div>
                        <div>
                            <input type="text" class="form-control" name="firstName" th:type="hidden"
                                       th:placeholder="${@userServiceImpl.findByUsername(#request.userPrincipal.name).firstName}"
                                   th:value="${@userServiceImpl.findByUsername(#request.userPrincipal.name).firstName}" >
                            <input type="text" class="form-control" name="lastName" th:type="hidden"
                                       th:placeholder="${@userServiceImpl.findByUsername(#request.userPrincipal.name).lastName}"
                                       th:value="${@userServiceImpl.findByUsername(#request.userPrincipal.name).lastName}">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="category">Select Category</label>
                            <div class="input-group">
                                <select class="form-control" name="category" id="category" >
                                    <option name="category" value="${category.id}" th:value="${category.id}"
                                            th:each="category, state : ${categories}" autocomplete="off">
                                        <a th:text="${category.name}" >Category</a>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="tags">Select Tags</label>
                            <div class="input-group">
                                <select multiple class="selectpicker form-control" name="tags" id="tags" >
                                    <option name="tag_id" value="tag_id" th:value="${tag.id}"
                                            th:each="tag, state : ${tags}" th:text="${tag.name}"> Tag
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Article editor</label>
                                <textarea class="form-control" name="text" required=""  id="text" placeholder="Enter text"
                                          th:field="*{text}" autocomplete="off" ></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- /FOOTER -->

<!-- JS -->
<!--<script th:include="~{fragments/footer :: scripts}"></script>-->

<script  type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script  type="text/javascript" src="../js/jquery.migrate.js" th:src="@{/js/jquery.migrate.js}"></script>
<!--<script  type="text/javascript" src="../scripts/bootstrap/bootstrap.min.js" th:src="@{/scripts/bootstrap/bootstrap.min.js}"></script>-->
<script  >var $target_end = $(".best-of-the-week");</script>
<script  type="text/javascript" src="../scripts/jquery-number/jquery.number.min.js" th:src="@{/scripts/jquery-number/jquery.number.min.js}"></script>
<script  type="text/javascript" src="../scripts/owlcarousel/dist/owl.carousel.min.js" th:src="@{/scripts/owlcarousel/dist/owl.carousel.min.js}"></script>
<script  type="text/javascript" src="../scripts/magnific-popup/dist/jquery.magnific-popup.min.js" th:src="@{/scripts/magnific-popup/dist/jquery.magnific-popup.min.js}"></script>
<script  type="text/javascript" src="../scripts/easescroll/jquery.easeScroll.js" th:src="@{/scripts/easescroll/jquery.easeScroll.js}"></script>
<script  type="text/javascript" src="../scripts/sweetalert/dist/sweetalert.min.js" th:src="@{/scripts/sweetalert/dist/sweetalert.min.js}"></script>
<script  type="text/javascript" src="../scripts/icheck/icheck.min.js" th:src="@{/scripts/icheck/icheck.min.js}"></script>
<script  type="text/javascript" src="../scripts/toast/jquery.toast.min.js" th:src="@{/scripts/toast/jquery.toast.min.js}"></script>
<script  type="text/javascript" src="../js/demo.js" th:src="@{/js/demo.js}"></script>
<script  type="text/javascript" src="../js/e-magz.js" th:src="@{/js/e-magz.js}"></script>
<!--            <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>-->
<script type="text/javascript" th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
<script type="text/javascript" th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/summernote/summernote-bs4.js}"></script>
<!-- Latest compiled and minified JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/bootstrap-select.min.js}"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script  type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.12/dist/js/i18n/defaults-*.min.js}"></script>

<script>
    $(function () {
        $('.selectpicker').selectpicker('tags','tag_id');
    });
    // $(document).ready(function() {
    //     $('.summernote').summernote();
    // });

    // var edit = function() {
    //     $('.click2edit').summernote({focus: true});
    // };
    //
    // var save = function() {
    //     var markup = $('.click2edit').summernote('code');
    //     $('.click2edit').summernote('destroy');
    // };

    $('#text').summernote({
        lang:'ru-RU',
        height:300,
        minHeight:200,
        maxHeight:400,
        focus:true,
        placeholder:'Введите данные',
        disableDragAndDrop:false
    });
</script>
</body>

</body>
</html>
