<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header.html :: head"></head>

<body class="skin-orange">
<!-- HEADER -->
<header class="primary" th:insert="fragments/header.html :: firstbar"></header>
<!-- /HEADER -->

		<section class="login first grey">
			<div class="container">
				<div class="box-wrapper">				
					<div class="box box-border">
						<div class="box-body">
							<h4>Forgot Password</h4>
							<form th:action="@{/forgot/process}"method="post">
<!--								th:object="${systemUser}"-->
								<div class="form-group">
									<label>Email</label>
									<input type="email" name="email" class="form-control" th:value= "${systemUser?.email}"
										  placeholder="email (*)">
<!--									th:field="*{email}"-->
								</div>
								<div class="form-group text-right">
									<button class="btn btn-primary btn-block">Reset Password</button>
								</div>
								<div class="form-group text-center">
									<span class="text-muted">Back to login?</span> <a th:href="@{/login}">Login</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- FOOTER -->
	<footer th:replace="fragments/footer.html :: footer"></footer>
	<!-- /FOOTER -->

	<!-- JS -->
	<script th:remove="tag" th:replace="fragments/scripts.html :: scripts"> </script>

	</body>
</html>