<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body class="skin-orange">
<!-- HEADER -->
<header class="primary" >
	<div th:replace="fragments/header :: firstbar"></div>
	<nav th:replace="fragments/header :: nav"></nav>
</header>
<!-- /HEADER -->
<br>
		<section class="search">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<form th:action="@{/search}" method="get">
						<aside>
							<h2 class="aside-title">Search</h2>
							<div class="aside-body">
								<p>Search with other keywords or use filters for more accurate results.</p>
<!--								<form th:action="@{/search}" method="get">-->
									<div class="form-group">
										<div class="input-group">
<!--											<input type="text" name="q" class="form-control" placeholder="Type something ..." value="hello">-->
											<input class="form-control" value="hello" type="text"  placeholder="Type something ..."
												   th:value="${param.word != null} ? ${param.word}" th:name="word">
											<div class="input-group-btn">
												<button class="btn btn-primary" type="submit">
													<i class="ion-search"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<select class="form-control" name="limit"  >
												<option th:value="0" value="0" th:selected="${pageLimit==0}">
													<a th:text="Limit" >Limit</a>
												<option th:each="i : ${#numbers.sequence(1, 10, 3)}" th:value="${i}" th:text="${i}"
														th:selected="${i==pageLimit}"></option>
											</select>
										</div>
									</div>
							</div>
						</aside>
						<aside>
							<h2 class="aside-title">Filter</h2>
							<div class="aside-body">
<!--									<div class="group-title">Date</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="radio" name="date" checked> Anytime</label>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="radio" name="date"> Today</label>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="radio" name="date"> Last Week</label>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="radio" name="date"> Last Month</label>-->
<!--									</div>-->

									<br>
									<div class="group-title">Categories</div>
									<div class="form-group">
										<label><input type="checkbox" name="cat_id" th:value="${param.cat_id != null} ? null"
													  th:checked="${catIdInteger.size()>0 and catIdInteger.get(0)==0}"
													  onclick="this.value=this.checked"> All Categories</label>
									</div>
									<div class="form-group" th:each="category, state : ${categories}" name="cat_id"
										 th:unless="${catIdInteger.size()>0 and catIdInteger.get(0)==0}">
										<input type="checkbox" name="cat_id" th:value="${category.id}"
											   th:checked="${#arrays.contains(catIdInteger, __${category.id}__)}"
											   onclick="this.value=this.checked">
										<label th:text="${category.name}">
											 Lifestyle</label>
									</div>

									<div class="form-group" th:each="category, state : ${categories}" name="cat_id"
										 th:if="${catIdInteger.size()>0 and catIdInteger.get(0)==0}" >
										<input type="checkbox" name="cat_id" th:value="${category.id}">
										<label th:text="${category.name}">
											Lifestyle</label>
									</div>
									<div class="input-group-btn">
										<button class="btn btn-primary more" type="submit">
											<div>More</div>
											<i class="ion-ios-arrow-thin-right"></i>
										</button>
									</div>
							</div>
						</aside>
						</form>
					</div>
					<div class="col-md-9">
						<div class="nav-tabs-group">
							<ul class="nav-tabs-list">
								<li class="active"><a href="#">All</a></li>
								<li><a href="#" th:href="@{/search}"  >Latest</a></li>
								<li><a href="#">Popular</a></li>
								<li><a href="#">Trending</a></li>
								<li><a href="#">Videos</a></li>
							</ul>
						</div>
						<div class="search-result" th:if="${param.word}==null or ${param.word}!=empty">
							Search all results found in <span th:text="${page.totalElements}">5,200 </span> posts.
						</div>
						<div class="search-result" th:unless="${param.word}==null or ${param.word}!=empty">
							Search results for keyword "
							<span class="page-subtitle" th:text="${#request.getParameter('word')}">"hello"</span>
							" found in <span th:text="${page.totalElements}">5,200 </span> posts.
						</div>
						<div class="row">

							<article class="col-md-12 article-list"  th:each="article,state : ${page.content}">

									<div class="inner" >
										<figure>
											<a href="../ui/single.html" th:href="@{/single/articles/{id}(id=${article.id})}">
												<p th:remove="tag" th:utext="${article.getMainPictureUrl()}">Main Picture</p>
											</a>
										</figure>
										<div class="details">
											<div class="detail">
												<div class="category">
													<a href="../ui/category.html"
													   th:href="@{'/search?cat_id=' + ${article.category.id} + ${filtersDefCat}}"
													   th:utext="${article.category.name}">Film</a>
												</div>
												<br>
												<div class="time" th:utext="${article.created}">December 10, 2016</div>
											</div>
											<h1><a href="../ui/single.html" th:utext="${article.title}"
												   th:href="@{/single/articles/{id}(id=${article.id})}">
												Maecenas blandit ultricies lorem id tempor enim pulvinar at</a></h1>
											<p>
												Maecenas blandit ultricies lorem, id tempor enim pulvinar at. Curabitur sit amet tortor eu ipsum lacinia malesuada. Etiam sed vulputate magna.
											</p>
											<footer>
												<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>783</div></a>
												<a class="btn btn-primary more" href="../ui/single.html"
												   th:href="@{/single/articles/{id}(id=${article.id})}">
													<div>More</div>
													<div><i class="ion-ios-arrow-thin-right"></i></div>
												</a>
											</footer>
										</div>
									</div>
							</article>

		          <div class="col-md-12 text-center">
					  <nav aria-label="Page navigation" th:if="${page.content.size()>0}">
						  <ul class="pagination">
							  <li class="page-item " th:classappend="${!(page.getNumber() > 0) ? 'disabled' : ''}" >

								  <a class="page-link"
									 th:href="@{'/search?pageNumber=' + ${page.previousOrFirstPageable().getPageNumber() + 1} + ${filtersDef}}">
									  <i class="ion-ios-arrow-left"></i></a>
							  </li>

							  <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
								  th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
								  <a class="page-link" th:text="${i}" th:href="@{'/search?pageNumber=' + ${i} + ${filtersDef}}"></a>
							  </li>

							  <li class="page-item" th:classappend="${!(page.getNumber() < page.getTotalPages() - 1) ? 'disabled' : ''}" >
								  <a class="page-link"
									 th:href="@{'/search?pageNumber=' + ${page.nextOrLastPageable().getPageNumber() + 1} + ${filtersDef}}">
									  <i class="ion-ios-arrow-right"></i></a>
							  </li>
						  </ul>
					  </nav>
					  <div th:if="${page.content.size()==0}">
						  <h3 class="page-title">
							  <span th:text="'Pages not found'">Computer</span> </h3>
					  </div>

		            <div class="pagination-help-text">
		            	Showing <span  th:text="${page.getContent().size()}">8</span> results of
						<span th:text="${page.totalElements}">776</span> &mdash; Page
						<span th:text="${page.getNumber() + 1}">1</span>
		            </div>
		          </div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- FOOTER -->
	<footer th:replace="fragments/footer.html :: footer"></footer>
	<!-- /FOOTER -->

	<!-- JS -->
	<script th:remove="tag" th:replace="fragments/scripts.html :: scripts"> </script>

			<script>$("input").iCheck({
		  checkboxClass: 'icheckbox_square-red',
		  radioClass: 'iradio_square-red',
		  cursor: true
			});
			</script>

			<script>
				function onSelected(select) {
					var selectOption = select.options[select.selectedIndex];
					window.location.href = '/search?pageSize=' + select;
				}
			</script>


	</body>
</html>