<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"></head>

<body class="skin-orange">
<!-- HEADER -->
<header class="primary" >
	<div th:replace="fragments/header.html :: firstbar"></div>
	<nav th:replace="fragments/header.html :: nav"></nav>
</header>
<!-- /HEADER -->
<br>
		<section class="search">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<aside>
							<h2 class="aside-title">Search</h2>
							<div class="aside-body">
								<p>Search with other keywords or use filters for more accurate results.</p>
								<form th:action="@{/search}" method="get">
									<div class="form-group">
										<div class="input-group">
<!--											<input type="text" name="q" class="form-control" placeholder="Type something ..." value="hello">-->
											<input class="form-control" value="hello" type="text"  placeholder="Type something ..."
												   th:value="${param.word != null} ? ${param.word}" th:name="word" >
											<div class="input-group-btn">
												<button class="btn btn-primary" type="submit">
													<i class="ion-search"></i>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</aside>
						<aside>
							<h2 class="aside-title">Filter</h2>
							<div class="aside-body">
								<form class="checkbox-group" th:action="@{/search}" method="get">
									<div class="group-title">Date</div>
									<div class="form-group">
										<label><input type="radio" name="date" checked> Anytime</label>
									</div>
									<div class="form-group">
										<label><input type="radio" name="date"> Today</label>
									</div>
									<div class="form-group">
										<label><input type="radio" name="date"> Last Week</label>
									</div>
									<div class="form-group">
										<label><input type="radio" name="date"> Last Month</label>
									</div>
									<br>
									<div class="group-title">Categories</div>
									<div class="form-group">
										<label><input type="checkbox" name="category" th:value="${null}"> All Categories</label>
									</div>
									<div class="form-group" th:each="category, state : ${categories}">
										<input type="checkbox"   th:value="${param.catId != null} ? ${param.catId}" th:name="catId">
										<label th:text="${category.name}">
											 Lifestyle</label>
									</div>

									<a class="btn btn-primary more" type="submit" >
										<div>More</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>

									<!--									<div class="form-group">-->
<!--										<label><input type="checkbox" name="category"> Lifestyle</labelb>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="checkbox" name="category"> Travel</label>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="checkbox" name="category"> Computer</label>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="checkbox" name="category"> Film</label>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<label><input type="checkbox" name="category"> Sport</label>-->
<!--									</div>-->

								</form>
							</div>
						</aside>
					</div>
					<div class="col-md-9">
						<div class="nav-tabs-group">
							<ul class="nav-tabs-list">
								<li class="active"><a href="#">All</a></li>
								<li><a href="#" th:href="@{/search}"  >Latest</a></li>
<!--								th:value="${param.limit != null} ? ${param.limit}"-->
								<li><a href="#">Popular</a></li>
								<li><a href="#">Trending</a></li>
								<li><a href="#">Videos</a></li>
							</ul>
							<div class="nav-tabs-right">
								<form th:action="@{/search}" method="get">
									<div class="form-group">
										<div class="input-group">
											<select class="form-control" th:name="limit" id="">
												<!--									required-->
												<option th:value="null">
													<a th:text="Limit" >Limit</a>
												</option>
												<option th:value="1">
													<a th:text="1" >1</a>
												</option>
												<option th:value="2">
													<a th:text="2" >2</a>
												</option>
												<option th:value="5">
													<a th:text="5" >5</a>
												</option>
												<option th:value="10">
													<a th:text="10" >10</a>
												</option>

											</select>
										</div>
									</div>
								</form>
							</div>

						</div>
						<div class="search-result">
							Search results for keyword "
							<span class="page-subtitle" th:text="${#request.getParameter('word')}">"hello"</span>
							" found in <span th:text="${page.totalElements}">5,200 </span> posts.
						</div>
						<div class="row">
<!--							<div th:replace="fragments/news :: article_mini"></div>-->

							<article class="col-md-12 article-list"  th:each="article,state : ${page.content}">

									<div class="inner" >
<!--										th:if="${article.category.id}==${category.id}"-->
										<figure>
											<a href="../ui/single.html" th:href="@{/single/articles/{id}(id=${article.id})}">
												<!--<img src="../static/images/news/img09.jpg" th:src="@{/static/images/news/img09.jpg}">-->
												<p th:remove="tag" th:utext="${article.getMainPictureUrl()}">Main Picture</p>
											</a>
										</figure>
										<div class="details">
											<div class="detail">
												<div class="category">
													<a href="../ui/category.html"
													   th:href="@{/category/{id}(id=${article.category.id})}"
													   th:utext="${article.category.name}">Healthy</a>
												</div>
												<br>
												<time th:utext="${article.created}">December 16, 2016</time>
											</div>
											<h1><a href="../ui/single.html" th:utext="${article.title}"
												   th:href="@{/single/articles/{id}(id=${article.id})}">
<!--												th:href="@{/single/articles/{id}(id=${category.id})}"-->
												Maecenas blandit ultricies lorem id tempor enim pulvinar at</a></h1>
											<p>
												Maecenas blandit ultricies lorem, id tempor enim pulvinar at. Curabitur sit amet tortor eu ipsum lacinia malesuada. Etiam sed vulputate magna.
											</p>
											<footer>
												<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>783</div></a>
												<a class="btn btn-primary more" href="../ui/single.html"
												   th:href="@{/single/articles/{id}(id=${article.id})}">
<!--													th:href="@{/single/articles/{id}(id=${category.id})}"-->
													<div>More</div>
													<div><i class="ion-ios-arrow-thin-right"></i></div>
												</a>
											</footer>
										</div>
									</div>
<!--								</div>-->
							</article>

		          <div class="col-md-12 text-center">
<!--		            <ul class="pagination">-->
<!--		              <li class="prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>-->
<!--		              <li class="active"><a href="#">1</a></li>-->
<!--		              <li><a href="#">2</a></li>-->
<!--		              <li><a href="#">3</a></li>-->
<!--		              <li><a href="#">...</a></li>-->
<!--		              <li><a href="#">97</a></li>-->
<!--		              <li class="next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>-->
<!--		            </ul>-->
					  <nav aria-label="Page navigation">
						  <ul class="pagination">
							  <li class="page-item " th:classappend="${!(page.getNumber() > 0) ? 'disabled' : ''}" >
<!--								  th:if="${(page.getNumber() > 0)}"-->
								  <a th:class="page-link" th:unless="${(page.getNumber() > 0)}"
									 th:href="@{'/search?pageNumber=1' + ${filters}}">Prev</a>
								  <a th:class="page-link" th:if="${(page.getNumber() > 0)}"
									 th:href="@{'/search?pageNumber=' + ${page.getNumber()} + ${filters}}">Prev</a>
							  </li>

							  <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
								  th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
								  <a th:class="page-link" th:text="${i}" th:href="@{'/search?pageNumber=' + ${i} + ${filters}}"></a>
							  </li>

							  <li class="page-item" th:classappend="${!(page.getNumber() < page.getTotalPages() - 1) ? 'disabled' : ''}" >
								  <a th:class="page-link" th:unless="${(page.getNumber() < page.getTotalPages() - 1)}"
									 th:href="@{'/search?pageNumber=' + ${page.getTotalPages()} + ${filters}}">Next</a>
								  <a th:class="page-link" th:if="${(page.getNumber() < page.getTotalPages() - 1)}"
									 th:href="@{'/search?pageNumber=' + ${page.getNumber() + 2} + ${filters}}">Next</a>
							  </li>
						  </ul>
					  </nav>

		            <div class="pagination-help-text">
		            	Showing <span  th:text="${page.getContent().size()}">8</span> results of
						<span th:text="${page.totalElements}">776</span> &mdash; Page
						<span th:text="${page.getNumber() + 1}">1</span>
		            </div>
		          </div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- FOOTER -->
	<footer th:replace="fragments/footer.html :: footer"></footer>
	<!-- /FOOTER -->

	<!-- JS -->
	<script th:remove="tag" th:replace="fragments/scripts.html :: scripts"> </script>

			<script>$("input").iCheck({
		  checkboxClass: 'icheckbox_square-red',
		  radioClass: 'iradio_square-red',
		  cursor: true
			});
			</script>

	</body>
</html>