<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"></head>

<body class="skin-orange">
<!-- HEADER -->
<header class="primary" >
	<div th:replace="fragments/header.html :: firstbar"></div>
	<nav th:replace="fragments/header.html :: nav"></nav>
</header>
<!-- /HEADER -->

		<section>
			<div class="container">
				<p class="lead">Your content here ...</p>
			</div>
		</section>

		<!-- FOOTER -->
		<footer th:replace="fragments/footer.html :: footer"></footer>
		<!-- /FOOTER -->

	<!-- JS -->
	<script th:remove="tag" th:replace="fragments/scripts.html :: scripts"> </script>

	</body>
</html>