<!-- created on 14.03.2020 by Vladimir Levin -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>News portal</title>
</head>

<div th:fragment="sidebar(activeLink)">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a th:href="@{/}" class="brand-link">
            <img th:src="@{'/images/logo.png'}" alt="News portal Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Новостной портал</span>
        </a>

        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img th:src="@{'/images/user-160x160.jpg'}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Юзер Юзеров</a>
                </div>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a th:href="@{/admin}" class="nav-link"
                           th:classappend="${activeLink == 'index' ? 'active' : ''}">
                            <i class="fas fa-qrcode"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-header">НАСТРОЙКИ</li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-shield-alt"></i>
                            <p>
                                Безопасность
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/users}" class="nav-link">
                                    <i class="fas fa-users"></i>
                                    <p>Пользователи</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">НОВОСТИ</li>
                    <li class="nav-item">
                        <a th:href="@{/admin/newsadding}" class="nav-link"
                           th:classappend="${activeLink == 'newsadding' ? 'active' : ''}">
                            <i class="far fa-newspaper"></i>
                            <p>Добавить новость</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/moderate}" class="nav-link">
                            <i class="fas fa-thumbs-up"></i>
                            <p>Модерирование</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</div>
</html>