<!-- created on 14.03.2020 by Vladimir Levin -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>News portal</title>
</head>

<div th:fragment="footer">
    <footer class="main-footer">
        <strong>Все права защищены &copy; 2020 <a th:href="@{/}">News portal</a>.</strong>
        <div class="float-right d-none d-sm-inline-block">
            <b>Версия</b> 1.0
        </div>
    </footer>
</div>
</html>